USE [master]
GO
/****** Object:  Database [DBStokMVC]    Script Date: 23.08.2024 16:50:53 ******/
CREATE DATABASE [DBStokMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBStokMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBStokMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBStokMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBStokMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBStokMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBStokMVC]
GO
/****** Object:  Table [dbo].[TblAdmin]    Script Date: 23.08.2024 16:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAdmin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici] [varchar](20) NULL,
	[sifre] [varchar](20) NULL,
 CONSTRAINT [PK_TblAdmin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblKategori]    Script Date: 23.08.2024 16:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
 CONSTRAINT [PK_TblKategori] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMusteri]    Script Date: 23.08.2024 16:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMusteri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](30) NULL,
	[soyad] [varchar](30) NULL,
	[sehir] [varchar](15) NULL,
	[bakiye] [decimal](18, 2) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_TblMusteri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPersonel]    Script Date: 23.08.2024 16:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPersonel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](30) NULL,
	[soyad] [varchar](30) NULL,
	[departman] [varchar](30) NULL,
 CONSTRAINT [PK_TblPersonel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSatislar]    Script Date: 23.08.2024 16:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSatislar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[urun] [int] NULL,
	[personel] [int] NULL,
	[musteri] [int] NULL,
	[fiyat] [decimal](18, 2) NULL,
	[tarih] [smalldatetime] NULL,
 CONSTRAINT [PK_TblSatislar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUrunler]    Script Date: 23.08.2024 16:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUrunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
	[marka] [varchar](50) NULL,
	[stok] [smallint] NULL,
	[alisfiyat] [decimal](18, 2) NULL,
	[satisfiyat] [decimal](18, 2) NULL,
	[kategori] [int] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_TblUrunler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblSatislar] ADD  CONSTRAINT [DF_TblSatislar_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[TblSatislar]  WITH CHECK ADD  CONSTRAINT [FK_TblSatislar_TblMusteri] FOREIGN KEY([musteri])
REFERENCES [dbo].[TblMusteri] ([id])
GO
ALTER TABLE [dbo].[TblSatislar] CHECK CONSTRAINT [FK_TblSatislar_TblMusteri]
GO
ALTER TABLE [dbo].[TblSatislar]  WITH CHECK ADD  CONSTRAINT [FK_TblSatislar_TblPersonel] FOREIGN KEY([personel])
REFERENCES [dbo].[TblPersonel] ([id])
GO
ALTER TABLE [dbo].[TblSatislar] CHECK CONSTRAINT [FK_TblSatislar_TblPersonel]
GO
ALTER TABLE [dbo].[TblSatislar]  WITH CHECK ADD  CONSTRAINT [FK_TblSatislar_TblUrunler] FOREIGN KEY([urun])
REFERENCES [dbo].[TblUrunler] ([id])
GO
ALTER TABLE [dbo].[TblSatislar] CHECK CONSTRAINT [FK_TblSatislar_TblUrunler]
GO
ALTER TABLE [dbo].[TblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunler_TblKategori] FOREIGN KEY([kategori])
REFERENCES [dbo].[TblKategori] ([id])
GO
ALTER TABLE [dbo].[TblUrunler] CHECK CONSTRAINT [FK_TblUrunler_TblKategori]
GO
USE [master]
GO
